<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Team Info</title>
	<link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
	<h1>Team Info</h1>
	<div>
		<fieldset>
			<strong>Team Name: </strong><%- name %><br>
			<strong>Captain: </strong><%- captain %><br>
			<strong>Team's Regular Season Point Leader: </strong><%- pointLeader %><br>
			<strong>Last Stanley Cup:</strong>
		
			<%- lastCup %>

			<hr>
			<strong><%- dateTime %></strong>
		</fieldset>
	</div>
	<br>
	<a href="/">HOME</a>
</body>


</html>
